---
import PageLayout from '@/layouts/CommonPage.astro'

const headings = [
  { depth: 2, slug: 'contact-way', text: 'Contact' }
]
---

<PageLayout title='Contact' {headings} info='/contact'>
  <p>Welcome ! 技术、求职、博客、找朋友闲聊都可以。</p>

  <h2 id='contact-way'>Contact</h2>
  <ul>
    <li><strong>Email</strong>: <a href='mailto:cxhsin196@gmail.com'>cxhsin196@gmail.com</a></li>
  </ul>
</PageLayout>
