---
import { Button } from 'astro-pure/user'
import PFSearch from '@/components/search/PFSearch.astro'
import PageLayout from '@/layouts/BaseLayout.astro'
import { integ } from '@/site-config'

const meta = {
  description: 'Search blog posts and notes',
  title: 'Search'
}
---

<PageLayout {meta}>
  <Button title='Back' href='/blog' style='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>Search</h1>
    </div>

    <div id='content' class='animate'>
      {
        integ.pagefind ? (
          <>
            <p>Enter a keyword to search the site.</p>
            <PFSearch />
          </>
        ) : (
          <p>Search is currently disabled.</p>
        )
      }
    </div>
  </main>
</PageLayout>
